<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!--
# this is the log4j configuration file used when running out-of-container tests
# from the command line and from within Eclipse
# for log4j documentation: http://logging.apache.org/log4j/docs/documentation.html
# set the root logger level to ERROR and send it to the console
# to log to the console and a file, add FILE, it logs to a file named "iip-core.log"
# to log only to a file, replace stdout with FILE
-->
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

  <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
          <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %p %c{1} %m %n"/>
    </layout>
  </appender>

  <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
     <param name="File" value="iip-core.log"/>
     <param name="Append" value="false"/>
    <layout class="org.apache.log4j.PatternLayout">
          <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %p %X{MDC_SERVER_NAME} %X{MDC_IP_ADDRESS} %X{MDC_USER_NAME} %c{1} %m %n"/>
    </layout>
    <!--filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="ERROR" />
      <param name="LevelMax" value="ERROR" />
    </filter-->
  </appender>

<!--
# for additional layout information
# http://logging.apache.org/log4j/docs/api/org/apache/log4j/PatternLayout.html
-->

    <!-- Uncomment for seeing the Hibernate binding data value -->
    <category name="org.hibernate.type">
        <priority value="DEBUG"/>
    </category>
        
  <category name="com.fiserv">
        <priority value="DEBUG"/>
  </category>
  <category name="com.stoneriver">
        <priority value="INFO"/>
  </category>
      
  <category name="com.client">
        <priority value="DEBUG"/>
  </category>
  <category name="org">
        <priority value="INFO"/>
  </category>
  <category name="com.mchange">
        <priority value="INFO"/>
  </category>
  <category name="net.sf">
        <priority value="INFO"/>
  </category>

  <root>
    <priority value="INFO"/>
    <appender-ref ref="STDOUT"/>
  </root>

</log4j:configuration>